@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div id="products" style="margin: 26px 0;">

    <div class="item_new">
        <div class="icon"><i class="fas fa-quote-left"></i></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing, libero quis sequi sint omnis enim, tempora aliquam expedita in alias aspernatur fugiat officiis?</p>
        <div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
        <div class="avatar" style="background-image: url(./avatar.jpg);"></div>
        <h4>Brian Stacy</h4>
    </div>
    <div class="item_new">
        <div class="icon"><i class="fas fa-quote-left"></i></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing, libero quis sequi sint omnis enim, tempora aliquam expedita in alias aspernatur fugiat officiis?</p>
        <div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
        <div class="avatar" style="background-image: url(./avatar.jpg);"></div>
        <h4>Brian Stacy</h4>
    </div>
    <div class="item_new">
        <div class="icon"><i class="fas fa-quote-left"></i></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing, libero quis sequi sint omnis enim, tempora aliquam expedita in alias aspernatur fugiat officiis?</p>
        <div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
        <div class="avatar" style="background-image: url(./avatar.jpg);"></div>
        <h4>Brian Stacy</h4>
    </div>
</div>