
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Team</h2>
<div id="products" style="margin: 26px 0;">

    <div class="item_new">
        <div class="icon"><i class="fas fa-quote-left"></i></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing, libero quis sequi sint omnis enim, tempora aliquam expedita in alias aspernatur fugiat officiis?</p>
        <div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
        <div class="avatar" style="background-image: url(./avatar.jpg);"></div>
        <h4>Brian Stacy</h4>
    </div>
    <div class="item_new">
        <div class="icon"><i class="fas fa-quote-left"></i></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing, libero quis sequi sint omnis enim, tempora aliquam expedita in alias aspernatur fugiat officiis?</p>
        <div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
        <div class="avatar" style="background-image: url(./avatar.jpg);"></div>
        <h4>Brian Stacy</h4>
    </div>
    <div class="item_new">
        <div class="icon"><i class="fas fa-quote-left"></i></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing, libero quis sequi sint omnis enim, tempora aliquam expedita in alias aspernatur fugiat officiis?</p>
        <div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
        <div class="avatar" style="background-image: url(./avatar.jpg);"></div>
        <h4>Brian Stacy</h4>
    </div>
</div>
